#root {
  .header__container {
    display: flex;
    justify-content: flex-end;

    .header__avatar {
      display: flex;
      position: relative;
      align-items: center;
      cursor: pointer;

      &:hover {
        .header__modal {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    .header__label {
      margin-left: 1em;
    }

    .header__modal {
      position: absolute;
      left: 0;
      right: 0;
      top: 2em;
      opacity: 0;
      background-color: rgb(255, 255, 255);
      z-index: -1;
      transition: opacity 1s;
    }

    .header__modal_item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}