 .app__container {
   display: grid;
   grid-gap: 0.5em;
   grid-template-columns: 1fr 2fr 2fr;
   grid-template-rows: 0.5fr 9fr;
   grid-template-areas:
     "header header header"
     "sidebar content content"
     "sidebar  content  content";
   background-color: rgba(0, 0, 0, 0.05);
   color: rgb(0, 0, 0);
   height: calc(100vh - 0.5em);

   .app__header,
   .app__content {
     background-color: rgba(0, 0, 0, 0.05);
     color: rgb(0, 0, 0);
     padding: 0.5em;
   }

   .app__sidebar {
     background-color: rgba(0, 0, 0, 0.05);
     color: rgb(0, 0, 0);
   }

   .app__header {
     grid-area: header;
   }

   .app__sidebar {
     grid-area: sidebar;
   }

   .app__content {
     grid-area: content;
   }
 }

 .app__splash {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 #root {
   div {
     color: rgb(0, 0, 0);
   }

   p {
     color: rgb(0, 0, 0);
   }
 }