#root {
  .users__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;

    .users__list {
      overflow-y: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.10);
      padding-right: 0.5em;
    }

    .users__noone {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}